<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fas-Task
        {% block title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>

<body>
<div class="jumbotron">
    <div class="text-center border-bottom pb-3">
        <a id="logo" style="color:inherit;text-decoration: none;" href="{% url 'projects_list' %}">
            <h1><img src="{% static 'img/logo.png' %}" style="width:64px; height:64px;"> Fas-Task</h1>
        </a>
        <h5>A rapid and easy way to manage your projects</h5>
    </div>

    {% if user.is_authenticated %}
        <div class="container pt-3">
            <h4 class="d-inline text-left">Welcome {% if user.name %} {{ user.name }}{% else %}
                {{ user }}{% endif %} </h4>
            <a href="/accounts/logout" class="d-inline float-right btn btn-danger">Logout</a>
        </div>
    {% endif %}
</div>


<div class="container">
    {% block content %}{% endblock %}
</div>

<footer class="container text-center border-top mt-5 pt-3">&copy; 2020 ISAE-SUPAERO</footer>

</body>
</html>