{% extends "taskmanager/base.html" %}
{% load crispy_forms_filters %}

{% block title %}- Login{% endblock %}


{% block content %}
    {% comment %}
    {% if form.errors %}
        <h3>Your username and password didn't match. Please try again.</h3>
    {% endif %}
    {% endcomment %}

    {% if not user.is_authenticated %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="mt-3"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
    {% else %}
        <h3>Welcome again, {% if user.name %} {{ user.name }}{% else %}
            {{ user }}{% endif %} </h3>
    {% endif %}



{% endblock %}