{% extends "taskmanager/base.html" %}
{% load crispy_forms_filters %}

{% block title %}- Login{% endblock %}


{% block content %}

    {% if not user.is_authenticated %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="mt-3"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
    {% else %}
        <h5>You are already logged in</h5>
    {% endif %}

{% endblock %}